<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mazel - Multiprapose Html template</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="nileforest">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

    <!-- Preloader -->
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Site Wraper -->
    <div class="wrapper">
        
        <!--Header-->
        <header id="header" class="header" style="display:none;">
            <nav id="navigation" class="header-nav"></nav>
        </header>
        <!--End Header-->

        <!-- CONTENT --------------------------------------------------------------------------------->
                <!--Slider Hero-->
                <div class="tp-banner-container">
                    <div class="intro-tp-banner">
                        <ul>
                            <!-- SLIDE  -->
                            <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                                <!-- MAIN IMAGE -->
                                <%= image_tag "18.jpg", alt: "slidebg1", data: { bgfit: "cover", bgposition: "top center", bgrepeat: "no-repeat"} %>
                                

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption lfb ltt tp-resizeme"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="-125"
                                    data-speed="600"
                                    data-start="500"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                                    <%= image_tag "t-logo1.png", alt: "logo" %>

                                </div>

                                <!-- LAYER NR. 2 -->
                                <h2 class="tp-caption lfb ltt tp-resizeme sc-title"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="-25"
                                    data-speed="600"
                                    data-start="700"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">We're sorry but the page you Looking for can not be found.
                                </h2>

                                <!-- LAYER NR. 3 -->
                                <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="40"
                                    data-speed="600"
                                    data-start="900"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    Here are some other pages.
                                </p>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption lfb ltt tp-resizeme sc-button"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="125"
                                    data-speed="600"
                                    data-start="1100"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    <br><br><br>
                                    <%= link_to "Home",root_path %>

                                </div>

                            </li>

                            <!-- SLIDE  -->
                            <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                                <!-- MAIN IMAGE -->
                                <%= image_tag "18.jpg", alt: "slidebg2", data: { bgfit: "cover", bgposition: "top center", bgrepeat: "no-repeat"} %>
                              

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption lfb ltt tp-resizeme"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="-125"
                                    data-speed="600"
                                    data-start="500"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                                    <%= image_tag "t-logo1.png", alt: "logo" %>
                                    

                                </div>

                                <!-- LAYER NR. 2 -->
                                <h2 class="tp-caption lfb ltt tp-resizeme sc-title"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="-25"
                                    data-speed="600"
                                    data-start="700"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Sorry again...
                                </h2>

                                <!-- LAYER NR. 3 -->
                                <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="40"
                                    data-speed="600"
                                    data-start="900"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    You are not really good in changing url !
                                </p>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption lfb ltt tp-resizeme sc-button"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="125"
                                    data-speed="600"
                                    data-start="1100"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    <br><br><br>
                                    <%= link_to "Home",root_path %>

                                </div>

                            </li>

                            <!-- SLIDE  -->
                            <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                                <!-- MAIN IMAGE -->
                                <%= image_tag "18.jpg", alt: "slidebg3", data: { bgfit: "cover", bgposition: "top center", bgrepeat: "no-repeat"} %>
                                

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption lfb ltt tp-resizeme"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="-125"
                                    data-speed="600"
                                    data-start="500"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                                    <%= image_tag "t-logo1.png", alt: "logo" %>


                                </div>

                                <!-- LAYER NR. 2 -->
                                <h2 class="tp-caption lfb ltt tp-resizeme sc-title"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="-25"
                                    data-speed="600"
                                    data-start="700"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Just click
                                </h2>

                                <!-- LAYER NR. 3 -->
                                <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="40"
                                    data-speed="600"
                                    data-start="900"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    The button just under this sentence !!! In the lightbulb...<br />
                                </p>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption lfb ltt tp-resizeme sc-button"
                                    data-x="center" data-hoffset="0"
                                    data-y="center" data-voffset="125"
                                    data-speed="600"
                                    data-start="1100"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="500"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                    <br><br><br>
                                    <%= link_to "Home",root_path %>
                                </div>

                            </li>

                        </ul>
                        <div class="tp-bannertimer"></div>
                    </div>
                </div>
                <!-- End Slider Hero-->

        <!-- End CONTENT ------------------------------------------------------------------------------>


        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->

 
</body>
</html>
